<div class="content">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
        <label>
            Username:
            <input type="text" name="username" [(ngModel)]="username" />
        </label>
        <br />
        <label>
            Password:
            <input type="password" name="password" [(ngModel)]="password" />
        </label>
        <br />
        <button type="submit">Login</button>
    </form>
    <div *ngIf="message && message !== 'Login successful!'" style="color: red; margin-top: 10px;">
        {{ message }}
    </div>
    <hr />
    <p>Or login with:</p>

    <div class="social-login-buttons">
        <button class="btn btn-success" (click)="loginWithGoogle()">
            <i class="fab fa-google"></i> Google
        </button>
    </div>


    <p>Don't have an account?</p>
    <a href="/register"><button class="btn btn-primary">Register</button></a>



</div>