<div class="content">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
        <label>
            Username:
            <input type="text" name="username" [(ngModel)]="username" />
        </label>
        <br />
        <label>
            Password:
            <input type="password" name="password" [(ngModel)]="password" />
        </label>
        <br />
        <button type="submit">Login</button>
    </form>
    <p>{{ message }}</p>
    <hr />
    <p class="text-center">Or login with:</p>

    <div class="d-flex justify-content-center gap-3">
        <button class="btn btn-outline-danger" (click)="loginWithGoogle()">
            <i class="fab fa-google"></i> Google
        </button>
        <button class="btn btn-outline-dark" (click)="loginWithGitHub()">
            <i class="fab fa-github"></i> GitHub
        </button>
    </div>


    <p>Don't have an account?</p>
    <a href="/register"><button class="btn btn-primary">Register</button></a>



</div>