.alert-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.alert-card {
    background: #fff;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    width: 320px;
    min-width: 250px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alert-details>div {
    margin-bottom: 0.5rem;
}

.alert-actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}