/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body {
    /* background-color: rgba(10, 10, 57, 0.752); */
    background-color: rgb(77, 73, 125);
    color: white;
}

/* get rid of bullet points in list */
ul {
    list-style-type: none;
}

.content {
    margin-left: 240px;
    padding: 2rem;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #222;
    /* or any color you want */
    background-color: var(--bs-table-accent-bg) !important;
}

.table-striped>tbody>tr:nth-of-type(even)>td {
    background-color: rgb(218, 218, 218) !important;
}