/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(10, 10, 57, 0.752);
    color: white;
}

/* get rid of bullet points in list */
ul {
    list-style-type: none;
}

.content {
    margin-left: 240px;
    padding: 2rem;
}