<div class="content">
    <h1>INVENTORY</h1>

    <select (change)="onSelect($event)">
        <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{ warehouse.name }}
        </option>
    </select>
    <ul>
        <li *ngFor="let item of inventory">
            <strong>{{ item.name }}</strong>
            <ul>
                <li>SKU: {{ item.sku }}</li>
                <li>Description: {{ item.description }}</li>
                <li>Storage Location: {{ item.storageLocation }}</li>
                <li>Quantity: {{ item.quantity }}</li>
            </ul>
        </li>
    </ul>
</div>